<p>{{quote.description}}</p>
<p>The quote should be complete in {{quote.completeDate|dateCount}} days</p>
<button (click) = 'quoteDelete(true)' class="btn btn-danger">Delete quote</button>


<div class="four wide column center aligned votes">
        <div class="ui statistic">
          
          <div class="value">
            <button style="margin-top: 5px;">{{ votes }}</button>
          </div> 
          <div class="label">
            Votes:
          </div>
      
        </div>
      
      </div>
      
      <div class="twelve wide column" >
      
        <ul class="ui big horizontal list voters">

            <a href (click)="likeVote()">
            <i class="arrow up icon"></i>
              <button  type="button" class="btn btn-warning">Upvote</button>
            </a>

            <a href (click)="dislikeVote()">
            <i class="arrow down icon"></i>
            <button style="margin-left: 10px;" type="button" class="btn btn-warning">Downvote</button>
            </a>
        </ul>
      </div>