<p>{{quote.description}}</p>
<p>The quote should be complete in {{quote.completeDate|dateCount}} days</p>
<p class="details">Said by <em>{{quote.author}}</em> and posted by {{quote.fan}}</p>
<button (click) = 'quoteDelete(true)' class="btn btn-danger">Delete quote</button>


<div class="four wide column center aligned votes">
        <div class="ui statistic">
          
          <div class="value">

          </div> 
          <div class="label">
            Votes:
          </div>

          <button>{{ votes }}</button>
          <br>
      
        </div>
      
      </div>
      
      <div class="twelve wide column" >
      
        <ul class="ui big horizontal list voters" >

            <a href (click)="likeVote()">
            <i class="arrow up icon"></i>
            <button (click)='vote' class="btn btn-warning btn-xs">upvotes{{quote.votes}}</button>&nbsp;&nbsp;
  
            </a>

            <a href (click)="dislikeVote()">
            <i class="arrow down icon"></i>
            <button (click)='vote' class="btn btn-warning btn-xs">Downvotes<i class="fa fa-thumbs-o-down"></i>{{quote.votes}}</button>
            </a>
        </ul>
      </div>